.board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
}

.status-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.status {
  margin-left: 20px;
}
